/* Use font-face for website */
@font-face {
    font-family: 'Oswald';
    src: url('converted-files/VNF-OswaldRegular.eot');
    src: url('converted-files/VNF-OswaldRegular.eot?#iefix') format('embedded-opentype'),
         url('converted-files/VNF-OswaldRegular.woff2') format('woff2'),
         url('converted-files/VNF-Oswald.woff') format('woff'),
         url('converted-files/VNF-Oswald.ttf') format('truetype'),
         url('converted-files/VNF-Oswald.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans Light';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff'),
         url('opensans-light-webfont.ttf') format('truetype'),
         url('opensans-light-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

